﻿@model MvcAdmin.Models.AuthUser

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="display-label"><b>First Name</b></div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="display-label"><b>Last Name</b></div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="display-label"><b>Department</b></div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Department)
        </div>

        <div class="display-label"><b>Location</b></div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Location)
        </div>

        <div class="editor-label"><b>Hedge Fund</b></div>
           
        <div class="editor-field">
            @Html.EditorFor(model => model.MAA_Access)
            @Html.ValidationMessageFor(model => model.MAA_Access)
        </div>

        <div class="editor-label"><b>Private Investments</b></div>
           
        <div class="editor-field">
            @Html.EditorFor(model => model.NMAA_Access)
            @Html.ValidationMessageFor(model => model.NMAA_Access)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
