﻿@model IEnumerable<MvcAdmin.Models.AuthUser>

@{
    ViewBag.Title = "Index";
}

<head><style type="text/css">

  .buttonAsLink
{
    
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    cursor: pointer;
    background-color: #e8eef4;
    border: solid 0px #e8eef4;
    color: #034af3;
    text-decoration: underline;
}


.buttonAsLink_hover
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    cursor: pointer;
    text-align: right;
    background-color: #e8eef4;
    border: solid 0px #e8eef4;
    color: #1d60ff;
    text-decoration: none;
}

</style></head>

<h2>C|A Users</h2>



@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Save"/>
    </p>
    <p>
        @if (ViewBag.Fil == "All Users")
        {
        <input type="radio" value="All Users" name="Filter" checked="checked"/> <label>All Users</label><br />
        <input type="radio" value="Permissioned Users" name="Filter" /> <label>Permissioned Users</label><br />
        <input type="radio" value="Not Permissioned Users" name="Filter" /> <label>Not Permissioned Users</label><br />
        }
        else if (ViewBag.Fil == "Permissioned Users")
        {
        <input type="radio" value="All Users" name="Filter" /> <label>All Users</label><br />
        <input type="radio" value="Permissioned Users" name="Filter" checked="checked" /> <label>Permissioned Users</label><br />
        <input type="radio" value="Not Permissioned Users" name="Filter" /> <label>Not Permissioned Users</label><br />
        }
        else if (ViewBag.Fil == "Not Permissioned Users")
        {
        <input type="radio" value="All Users" name="Filter" /> <label>All Users</label><br />
        <input type="radio" value="Permissioned Users" name="Filter"  /> <label>Permissioned Users</label><br />
        <input type="radio" value="Not Permissioned Users" name="Filter" checked="checked"/> <label>Not Permissioned Users</label><br />
        }
        else
        {
        <input type="radio" value="All Users" name="Filter" checked="checked"/> <label>All Users</label><br />
        <input type="radio" value="Permissioned Users" name="Filter" /> <label>Permissioned Users</label><br />
        <input type="radio" value="Not Permissioned Users" name="Filter" /> <label>Not Permissioned Users</label><br />
        }
        

    </p>
    
    <table>
        <tr>
            <th>
                <input type="submit" value="Last Name" name="sortBy" class="buttonAsLink"
                onmouseover="this.className='buttonAsLink_hover';" 
                onmouseout="this.className='buttonAsLink';"/>
            </th>
            <th>
                <input type="submit" value="First Name" name="sortBy" class="buttonAsLink" 
                onmouseover="this.className='buttonAsLink_hover';" 
                onmouseout="this.className='buttonAsLink';"/>
            </th>
            <th>
                <input type="submit" value="Department" name="sortBy" class="buttonAsLink" 
                onmouseover="this.className='buttonAsLink_hover';" 
                onmouseout="this.className='buttonAsLink';"/>
            </th>
            <th>
                <input type="submit" value="Location" name="sortBy" class="buttonAsLink" 
                onmouseover="this.className='buttonAsLink_hover';" 
                onmouseout="this.className='buttonAsLink';"/>
            </th>
            <th>
                <input type="submit" value="Hedge Fund" name="sortBy" class="buttonAsLink" 
                onmouseover="this.className='buttonAsLink_hover';" 
                onmouseout="this.className='buttonAsLink';"/> 
            </th>
            <th>
                <input type="submit" value="Private Investments" name="sortBy" class="buttonAsLink" 
                onmouseover="this.className='buttonAsLink_hover';" 
                onmouseout="this.className='buttonAsLink';"/> 
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @if (item.MAA_Access)
                {
                    <input name="MAA_Access" type="checkbox" value="@item.ID" checked="checked"/>
                }
                else
                {
                    <input name="MAA_Access" type="checkbox" value="@item.ID"/>
                }
           
           
            </td>
            <td>
                @if (item.NMAA_Access)
                {
                    <input name="NMAA_Access" type="checkbox" value="@item.ID" checked="checked"/>
                }
                else
                {
                    <input name="NMAA_Access" type="checkbox" value="@item.ID"/>
                }
            </td>
            <td>
           
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
               
            </td>
        </tr>
    }

    </table>
   
}