﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.8.10.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tinysort.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="wrapper" class="wrapper" style="width: 1212px; height: 120px">
            <div class="header">
                <div id="logo">
                    <span class="logo"></span>
                    <p class="applicationTitle">
                        Optica Research User Administration</p>
                </div>
            </div>
        </div>
        <div id="wrapper" class="wrapper" style="width: 1212px;">
        <div id="main" style="width: 1196px;margin-left:8px">
            @RenderBody()
        </div>
        </div>
        <div id="Div2" class="wrapper" style="width: 1212px">
            <div class="footer">
                &nbsp Cambridge Associates, LLC
            </div>
        </div>
    </div>
</body>
</html>
